{% extends "./Alg.html" %}

{% block content %}
<div class="container m-5">
<h2 class ="mb-2">шифр АТБАШ</h2>
<form class ="mb-2" method="POST" action="/atbash/">
	{% csrf_token %}
	<input class="m-1" type="text" name="abc" placeholder="Введите алфавит">
	<br>
	<textarea class="m-1" rows="30" cols="50" name="mes" placeholder="Введите текст"></textarea>
	<br>
	<input type="submit" name="" value="Зашифровать/расшифровать">
</form>
<p><strong>Результат:</strong></p>
<p>{{text}}</p>
</div>
{% endblock %}