{% extends "Alg.html" %}

{% block content %}
<h2 class ="mb-2">Шифр Цезаря</h2>
<form class ="mb-2" method="POST" action="/cesar/">
	{% csrf_token %}
	<input class="m-1" type="text" name="key" placeholder="Введите ключ">
	<br>
	<textarea class="m-1" rows="30" cols="100" name="mes" placeholder="Введите текст"></textarea>
	<br>
	<input type="submit" name="" value="Зашифровать/расшифровать">
</form>

<div style="display: block;">
<p><strong>Зашифрование:</strong> {{enc}}</p>
<p><strong>Расшифрование:</strong>  {{dec}}</p>
</div>
{% endblock %}