{% extends "wrapper.html" %}

{% block content %}
<div class="row col-12 mb-5">
    <div class="col-6 p-3">
        <div class="border-bottom border-secondary"><h2 class="text-center font-weight-bold">О сайте</h2></div>
        <div class ="pt-2">
        <p>Данный сайт посвящен криптографии во всём её многообразии. 
            Здесь будут опубликовываться учебные материалы, руководства, тесты, примеры и многое другое</p>
            
        <p>Наиболее приоритетное направление - практическая реализация криптоалгоритмов. Начиная от простейших (шифр Цезаря, шифр Плейфера, шифр АТБАШ и т.д.) и заканчивая наиболее актуальными сложными криптосистемами (AES, Elgamal, ГОСТ Р 34.10-2012 и т.д.). Для каждой из них будет предоставлено краткое описание, пример кода программы (возможно на нескольких ЯП) и возможность зашифровать и расшифровать текст(либо сформировать ЭЦП и проверить её). </p>
        <p>Помимо самих алгоритмов, будут реализованы и сервисы, которые будут полезны в изучении криптографии. Они будут подразделяться на математические (вычисление параметров эллиптической кривой, символа Лежандра, дискретного логарифма и т.д.) и генераторы(ключей для криптоалгоритмов и гаммы). </p>
        <p>Поскольку жизнь не стоит на месте, все материалы по возможности будут дополняться и обновляться, чтобы соответствовать тенденциям и не терять своей актуальности.</p>
        <p>По всем вопросам касательно сайта обращаться по адресу optimol65@yandex.ru</p>
        <p>Спасибо за посещение.</p>
        </div>
    </div>

    <div class="col-6 pt-3 pl-5">
        <div class="border-bottom border-secondary"><h2 class="text-center font-weight-bold">Последние изменения</h2></div>
        <div class="alert alert-secondary mt-2">
            <div class="mt-1 pl-3 mb-2">В блок алгоритмов был добавлен шифр АТБАШ</div>
            <p class="pb-auto"><small> 10.03.2021 </small></p>
        </div>
        <div class="alert alert-secondary mt-2">
            <div class="mt-1 pl-3 mb-2">В блок алгоритмов был добавлен шифр Цезаря</div>
            <p class="pb-auto"><small> 10.03.2021 </small></p>
        </div>
        <div class="alert alert-secondary mt-2">
            <div class="mt-1 pl-3 mb-2">В блок алгоритмов был добавлен шифр Полибия</div>
            <p class="pb-auto"><small> 10.03.2021 </small></p>
        </div>
    </div>
</div>

<div class="col-12 text-center mb-3">
    <div class="mb-2" >
        <a class="btn btn-secondary col-3 " style="height: 300px"> </a>
        <a class="btn btn-secondary col-3" style="height: 300px"> </a>
    </div>

    <div >
        <a class="btn btn-secondary col-3" style="height: 300px"> </a>
        <a class="btn btn-secondary col-3" style="height: 300px"> </a>
    </div>
</div>
{% endblock %}