{% extends "Alg.html" %}

{% block content %}
<h1>Квадрат Полибия</h1>
<form method="POST" action="/polibiy/">
	{% csrf_token %}
	<textarea rows="30" cols="100" name="mes" placeholder="Введите текст"></textarea>
	<br>
	<input type="submit" name="" value="Зашифровать/расшифровать">
</form>
<p>Результат:</p>
<p>Зашифрование:</p>
<p>{{enc}}</p>
<p>Расшифрование:</p>
<p>{{dec}}</p>
{% endblock %}