<!DOCTYPE html>
<html >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<!-- CSRF Token -->
		
	
		<title>Криптография</title>
	
		<!-- Scripts -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
	
		<style>
			.nav-item:hover {
				background-color: #0e0e0e;
				color: #ffffff;
			}
	
			.nav-item {
				background-color:#afadad;
			}
	
			.nav-link:hover {
				color:#ffffff;
			}
			
			.text-link:hover{
				color: #ffffff;
			}
	
			.navbar-nav:hover {
				color: #ffffff;
			}
	
		</style>
	</head>

	<body>

		<div id="app" >
			<nav class="navbar navbar-expand-md navbar-light shadow-sm" style="background-color: #0e0e0e;">
				<div class="container">
					<a class="navbar-brand text-white text-center" href="/" style="font-family: Arial; font-weight: bold; font-size: 120%;  line-height: 115%; color: #d8d8d8; letter-spacing: 0.5px;">
						Криптографические</br> дисциплины
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
	
					<img style="max-width: 18%; max-height: 15%;" src="http://exe1.std-592.ist.mospolytech.ru/top_sh.png" class="img-fluid" alt="лого Политеха" >  
	
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<!-- Left Side Of Navbar -->
						<ul class="navbar-nav mr-auto">
	
						</ul>
						
					</div>
				</div>
			</nav>
	
			<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#cacaca;">
				<div class="collapse navbar-collapse" id="navbarText">
				  <ul class="navbar-nav ">
					<li class="nav-item border border-secondary mr-2 ml-auto">
					  <a class="nav-link text-dark" href="/theory/mainTheory/"><span class="text-link">Теоретический блок</span></a>
					</li>
					<li class="nav-item border border-secondary mr-2">
					  <a class="nav-link text-dark" href="#"><span class="text-link">Математический блок</span></a>
					</li>
					<li class="nav-item border border-secondary mr-2">
					  <a class="nav-link text-dark" href="/Alg"><span class="text-link">Блок алгоритмов</span></a>
					</li>
					<li class="nav-item border border-secondary mr-2">
						<a class="nav-link text-dark" href="#"><span class="text-link">Блок генераторов</span></a>
					  </li>
				  </ul>
				  <form class="form-inline ml-auto float-right">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-dark my-2 my-sm-0" type="submit">Поиск</button>
				  </form>
				</div>
			  </nav>
	
		<main  style="min-height: 84.4vh;">
		{% block content %}
		{% endblock %}
		</main>

		<footer>
            <div style="background-color: #0e0e0e" class = " text-white">
                <div class="fixed-right mt-2 mr-2 text-center float-right" style="width: 150px; height: 30px; background-color:aquamarine">[Счётчик]</div>
                <div class="text-center">Другов М.С., г.171-341</br> 2021</div>
            </div> 
        </footer>

	</div>
	</body>
</html>